ExamPackage/main/default/flows/Exam_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_value_from_screen</name>
        <label>Assign value from screen</label>
        <locationX>466</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>ExamRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Titan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExamRecord.Default_Passing_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Passing_Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExamRecord.Default_Time_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Time_Limit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExamRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exam_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_an_Exam_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Location_Create_Exam</name>
        <label>Error Location: Create Exam</label>
        <locationX>940</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>ErrorLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_an_Exam_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <description>Streamline creation of exams.</description>
    <dynamicChoiceSets>
        <name>TitanList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Titan__c</object>
        <outputAssignments>
            <assignToReference>ExamRecord.Titan__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Exam Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exam Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_an_Exam_Record</name>
        <label>Create an Exam Record</label>
        <locationX>684</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Location_Create_Exam</targetReference>
        </faultConnector>
        <inputReference>ExamRecord</inputReference>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>520</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exam_Creation_Flow</targetReference>
        </connector>
        <fields>
            <name>BodyText</name>
            <fieldText>&lt;p&gt;There was an error in creating exam.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exam_Creation_Flow</name>
        <label>Exam Creation Flow</label>
        <locationX>195</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_value_from_screen</targetReference>
        </connector>
        <fields>
            <name>Exam_Name</name>
            <dataType>String</dataType>
            <fieldText>Exam Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Default_Time_Limit</name>
            <dataType>Number</dataType>
            <fieldText>Default Time Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Default_Passing_Grade</name>
            <dataType>Number</dataType>
            <fieldText>Default Passing Grade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Titan</name>
            <choiceReferences>TitanList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Titan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>453</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exam_Creation_Flow</targetReference>
        </connector>
        <fields>
            <name>ScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Record was created!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Exam_Creation_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ErrorLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Exam__c</objectType>
    </variables>
</Flow>
