ExamPackage/main/default/flows/Pool_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>481</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Create_a_pool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>Found_Existing_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPool</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Error</targetReference>
            </connector>
            <label>Found Existing Name</label>
        </rules>
    </decisions>
    <interviewLabel>Pool Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pool Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_pool</name>
        <label>Create a pool</label>
        <locationX>804</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Pool_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Enter_Pool_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Question_Pool__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetExistingPool</name>
        <label>GetExistingPool</label>
        <locationX>488</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Database_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Pool_Name</elementReference>
            </value>
        </filters>
        <object>Question_Pool__c</object>
        <outputReference>ExistingPool</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Database_Error</name>
        <label>Database Error</label>
        <locationX>674</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDatabase</name>
            <fieldText>&lt;p&gt;Something went  wrong ! Here is the error message . &lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(15, 0, 0);&quot;&gt;Flow.FaultMessage&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Error</name>
        <label>Duplicate Error</label>
        <locationX>488</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Duplicate_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Sorry the Pool Name you have entered is already exist. Please try again !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pool_Created</name>
        <label>Pool Created</label>
        <locationX>971</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Successfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Enter_Pool_Name} has Successfully created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pool_Creation</name>
        <label>Pool Creation</label>
        <locationX>199</locationX>
        <locationY>249</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetExistingPool</targetReference>
        </connector>
        <fields>
            <name>Enter_Pool_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter Pool Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>74</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Pool_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingPool</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question_Pool__c</objectType>
    </variables>
</Flow>
