ExamPackage/main/default/flows/Question_Builder_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Parse_Multi_Select</name>
        <label>Parse Multi Select</label>
        <locationX>1055</locationX>
        <locationY>178</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Multi_Select_Loop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Multiple_Selection_Picklist</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Multi_Select_Answer_Collection</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RemoveEndingBars</name>
        <label>RemoveEndingBars</label>
        <locationX>1138</locationX>
        <locationY>286</locationY>
        <actionName>RemoveMultiselectBars</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Answer_Explanation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OneStringList</name>
            <value>
                <elementReference>FinalCorrectAnswers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>additionaloptions</name>
        <label>Additional options</label>
        <locationX>663</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>FinalOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Option</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Option_Picklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Option</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Option_For_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Correct_Answer</name>
        <label>Assign Correct Answer</label>
        <locationX>346</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Short_Answer_Correct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Short_Answer_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Correct_Answer</name>
        <label>Assign Final Correct Answer</label>
        <locationX>783</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Short_Answer_Correct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answer_Explanation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Title_and_Body</name>
        <label>Assign Title and Body</label>
        <locationX>1293</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>FinalQuestionText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestionTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Question_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Question_Fields</name>
        <label>Assign to Question Fields</label>
        <locationX>1390</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>FinalQuestion.Options__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestion.Correct_Answer_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalCorrectAnswers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestion.Question_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestion.Correct_Answer_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalCorrectAnswers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestion.Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalSkill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestion.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQuestionTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestion.Answer_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_input_Answer_Explanation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalQuestion.Question_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Last_Option</name>
        <label>Last Option</label>
        <locationX>810</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>FinalOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Option</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Multiple_Choice_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matching_Final_Assignment</name>
        <label>Matching Final Assignment</label>
        <locationX>938</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Matching_Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Matching_Option</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answer_Explanation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matching_New_Option</name>
        <label>Matching New Option</label>
        <locationX>751</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>FinalOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Matching_Option</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Matching_Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Question_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mulit_Select_Answer_Assignment</name>
        <label>Mulit Select Answer Assignment</label>
        <locationX>1304</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Multi_Select_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multi_Select_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multiple_Choice_Correct_Answer_Assignment</name>
        <label>Multiple Choice Correct Answer Assignment</label>
        <locationX>1415</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correct_Answer_Picklist_Multiple_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answer_Explanation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Numerical_Answer_Assignmet</name>
        <label>Numerical Answer Assignmet</label>
        <locationX>815</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correct_Answer_Numerical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answer_Explanation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>True_False_Final_assignment</name>
        <label>True False Final assignment</label>
        <locationX>777</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>FinalCorrectAnswers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_true</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answer_Explanation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Option_Selected</name>
        <label>Additional Option Selected</label>
        <locationX>647</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Last_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check not Selected</defaultConnectorLabel>
        <rules>
            <name>Option_is_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>additionaloptions</targetReference>
            </connector>
            <label>Option is Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Add_Option</name>
        <label>Matching Add Option</label>
        <locationX>746</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Matching_Final_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Option_Matching</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_New_Option</targetReference>
            </connector>
            <label>New Option</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multi_Choice_or_not</name>
        <label>Multi Choice or not</label>
        <locationX>1092</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Single_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple Choice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_Answer</targetReference>
            </connector>
            <label>Single Answer</label>
        </rules>
        <rules>
            <name>Multi_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple Choice - multiple answers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_Select_Answer_Screen</targetReference>
            </connector>
            <label>Multi-Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pick_Screen_From_Type</name>
        <label>Pick Screen From Type</label>
        <locationX>266</locationX>
        <locationY>450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_choice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple Choice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple Choice - multiple answers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Choice_Screen</targetReference>
            </connector>
            <label>Multiple choice</label>
        </rules>
        <rules>
            <name>True_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True-false</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>True_or_False_Screen</targetReference>
            </connector>
            <label>True False</label>
        </rules>
        <rules>
            <name>Matching_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Question_Screen</targetReference>
            </connector>
            <label>Matching Choice</label>
        </rules>
        <rules>
            <name>Short_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Answer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Short_Answer_Screen</targetReference>
            </connector>
            <label>Short Answer</label>
        </rules>
        <rules>
            <name>Numerical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Numerical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Numerical_Question</targetReference>
            </connector>
            <label>Numerical</label>
        </rules>
        <rules>
            <name>Essay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Essay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Answer_Explanation</targetReference>
            </connector>
            <label>Essay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Short_Answer_More_Correct</name>
        <label>Short Answer More Correct</label>
        <locationX>558</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_Correct_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Options</defaultConnectorLabel>
        <rules>
            <name>Addition_Correct_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalCorrectAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Correct_Answer</targetReference>
            </connector>
            <label>Addition Correct Answer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Multiple_Choice_Options</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Question_Flow_Helper__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Question_Type_Selector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Question_Type__c</picklistField>
        <picklistObject>Exam_Question__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Question Builder Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Question Builder Wizard</label>
    <loops>
        <name>Multi_Select_Loop</name>
        <label>Multi Select Loop</label>
        <locationX>1150</locationX>
        <locationY>174</locationY>
        <collectionReference>Multi_Select_Answer_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mulit_Select_Answer_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RemoveEndingBars</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Question</name>
        <label>Create Question</label>
        <locationX>1501</locationX>
        <locationY>678</locationY>
        <connector>
            <targetReference>Extra_Helper_for_so_no_empty_Deletion</targetReference>
        </connector>
        <inputReference>FinalQuestion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Extra_Helper_for_so_no_empty_Deletion</name>
        <label>Extra Helper for so no empty Deletion</label>
        <locationX>1604</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Delete_Helpers</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>extra</stringValue>
            </value>
        </inputAssignments>
        <object>Question_Flow_Helper__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Last_Multiple_Choice_Option</name>
        <label>Last Multiple Choice Option</label>
        <locationX>829</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Multi_Choice_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Option</elementReference>
            </value>
        </inputAssignments>
        <object>Question_Flow_Helper__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Option_For_Picklist</name>
        <label>New Option</label>
        <locationX>534</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Multiple_Choice_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Option</elementReference>
            </value>
        </inputAssignments>
        <object>Question_Flow_Helper__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Helpers</name>
        <label>Delete Helpers</label>
        <locationX>1698</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Exit_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>Question_Flow_Helper__c</object>
    </recordDeletes>
    <screens>
        <name>Answer_Explanation</name>
        <label>Answer Explanation</label>
        <locationX>1313</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Title_and_Body</targetReference>
        </connector>
        <fields>
            <name>Please_input_Answer_Explanation</name>
            <dataType>String</dataType>
            <fieldText>Please input Answer Explanation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Correct_Answer</name>
        <label>Correct Answer</label>
        <locationX>1414</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Multiple_Choice_Correct_Answer_Assignment</targetReference>
        </connector>
        <fields>
            <name>Correct_Answer_Title</name>
            <fieldText>&lt;p&gt;Please Choose the Correct Answer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Correct_Answer_Picklist_Multiple_Choice</name>
            <choiceReferences>Multiple_Choice_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Correct Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>1795</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Exit_Message</name>
            <fieldText>&lt;p&gt;Question Creation Complete!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matching_Question_Screen</name>
        <label>Matching Question Screen</label>
        <locationX>587</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Add_Option</targetReference>
        </connector>
        <fields>
            <name>Matching_Screen_Description</name>
            <fieldText>&lt;p&gt;Please enter an option and corresponding answer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Matching_Option</name>
            <dataType>String</dataType>
            <fieldText>Option</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Matching_Answer</name>
            <dataType>String</dataType>
            <fieldText>Matching Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Option_Matching</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Option</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multi_Select_Answer_Screen</name>
        <label>Multi Select Answer Screen</label>
        <locationX>928</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Multi_Select</targetReference>
        </connector>
        <fields>
            <name>Multiple_Selection_Picklist</name>
            <choiceReferences>Multiple_Choice_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Multiple Selection Picklist</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Choice_Screen</name>
        <label>Multiple Choice Screen</label>
        <locationX>403</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Option_Selected</targetReference>
        </connector>
        <fields>
            <name>Option</name>
            <dataType>String</dataType>
            <fieldText>Option</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Option</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Option?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Numerical_Question</name>
        <label>Numerical Question</label>
        <locationX>221</locationX>
        <locationY>900</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Numerical_Answer_Assignmet</targetReference>
        </connector>
        <fields>
            <name>Correct_Answer_Numerical</name>
            <dataType>Number</dataType>
            <fieldText>Correct Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Welcome</name>
        <label>Question Welcome</label>
        <locationX>170</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pick_Screen_From_Type</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;Please enter Name and Type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question_Title</name>
            <dataType>String</dataType>
            <fieldText>Question Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_Type</name>
            <choiceReferences>Question_Type_Selector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_Body</name>
            <fieldText>Question Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please Make Sure to have 5 underscores  where the answer belongs (for example: 2+_____= 4)&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Missing_Word_Question}, CONTAINS({!Question_Body}, &apos;_____&apos;), true)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LookupSkill</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Missing_Word_Question</name>
            <dataType>Boolean</dataType>
            <fieldText>Missing Word Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Short_Answer_Screen</name>
        <label>Short Answer Screen</label>
        <locationX>362</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Short_Answer_More_Correct</targetReference>
        </connector>
        <fields>
            <name>Short_Answer_Correct</name>
            <dataType>String</dataType>
            <fieldText>Enter A Correct Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AdditionalCorrectAnswer</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Another Correct Answer?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>True_or_False_Screen</name>
        <label>True or False Screen</label>
        <locationX>612</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>True_False_Final_assignment</targetReference>
        </connector>
        <fields>
            <name>Check_if_true</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check if true</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>43</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Question_Welcome</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>FinalCorrectAnswers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>FinalQuestionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalQuestionTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalSkill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Multi_Select_Answer_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Option_Picklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
